:root{
    /* ---- project color ----  */
    --white_line: #fff;
    --gray_line: #bfbfbf;
    --white_text: #fff;
    --gray_text: #bfbfbf;
    --gray_text2: #8e8e8e;
    --opacity_bg: #5454545d;
    --opacity_bg2: #54545491;
    --pink_line: #ffcdc8;
    --pink_bg: #ffdad6;
    --pink_bold: #fdaca4;
    /* ---- admin background color ----  */
    --background_pink: #ffcdc8;
    --background_grey: #F8EDE3;
    --background_red: #EB1D36;
    --background_blue: #3AB0FF;
    /* ---- color text ----  */
    --text_white : #fff;
    --text_black : #000;
}
/* ***************** SEARCH *********************  */
.Admin--content--container--table--box form
{
    margin-bottom: 1rem;
    display: flex;
    gap: 2rem;
}
.Admin--content--container--table--box form input:nth-child(1)
{
    width: 30%;
    padding: 1rem;
    height: 1rem;
}
.Admin--content--container--table--box form select
{
    width: 20%;
}
.Admin--content--container--table--box form input:nth-child(3)
{
    width: 10%;
    border: none;
    background: var(--background_grey);
    transition: 0.5s;
    border-radius: 0.2rem;
}
.Admin--content--container--table--box form input:nth-child(3):hover
{
    background: var(--background_blue);
    color: var(--text_white);
}
/* ******************* TABLE ********************  */
.Admin--content--container--table--box table tr td
{
    text-align: center;
}
.Admin--content--container--table--box table tr td:nth-child(7) input
{
    padding: 0.2rem 1.5rem;
    border: none;
    background: var(--background_grey);
    transition: 0.5s;
    border-radius: 0.2rem;
}
.Admin--content--container--table--box table tr td:nth-child(7) input
{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.Admin--content--container--table--box table tr td:nth-child(7) input:hover
{
    background: var(--background_blue);
    color: var(--text_white);
}