:root{
    /* ---- project color ----  */
    --white_line: #fff;
    --black_line: #000;
    --gray_line: #bfbfbf;
    --white_text: #fff;
    --gray_text: #bfbfbf;
    --gray_text2: #8e8e8e;
    --opacity_bg: #5454545d;
    --opacity_bg2: #54545491;
    --pink_line: #ffcdc8;
    --pink_bg: #ffdad6;
    --pink_bold: #fdaca4;
    /* ---- admin background color ----  */
    --background_pink: #ffcdc8;
    --background_grey: #F8EDE3;
    --background_red: #EB1D36;
    --background_white: #fff;
    --background_black: #000;
    /* ---- color text ----  */
    --text_white : #fff;
    --text_black : #000;
  }
.Admin--content--container--table--box
{
    margin-left: 1rem;
    margin-right: 1rem;
}
.Admin--content--container--table--box form
{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}
.Admin--content--container--table--box form input:nth-child(1)
{
    padding: 1rem;
    height: 2rem;
    width: 20rem;
}
.Admin--content--container--table--box form input:nth-child(2)
{
    padding: 0.3rem 2rem;
    background: var(--background_grey);
    transition: 0.5s;
    border: none;
}
.Admin--content--container--table--box form input:nth-child(2):hover
{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Admin--content--container--table--box table th
{
    background: var(--background_grey);
}
.Admin--content--container--table--box table td 
{
    text-align: center;
}
.Admin--content--container--table--box table td:nth-child(7) input
{
    padding: 0.3rem 1rem;
    background: var(--background_grey);
    transition: 0.5s;
    border: none;
    margin-bottom: 0.5rem;
}
.Admin--content--container--table--box table td:nth-child(7) input:hover
{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}